.datatable-color{
        color: #000000;
        background-color: #ffcdc2;
    }

    .datatable-color:hover{
        color: #000000;
        background-color: #fbc5c5;
        font-weight: bold;
    }

    .myDatatableStyles table>thead .slds-cell-fixed.slds-has-button-menu{
        background: ghostwhite;
    }